@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hero-footer-dark-color: #1f2937;
  --hero-main-text-color: #f9faf8;
  --hero-secondary-text-color: #e5e7eb;
  --header-link-text-color: #e5e7eb;
  --header-logo-text-color: #f9faf8;
  --cta-color: #3882f6;
  --info-header-text-color: #1f2937;
  --quote-section-bg: #e5e7eb;
  --quote-text: #1f2937;
}

body {
  background-color: #212d3d;
  font-family: "Roboto", cursive;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

header {
  background-color: var(--hero-footer-dark-color);
  font-size: 18px;
  color: var(--header-logo-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* nav .logo {
  width: 100px;
  height: 100px;
} */

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  list-style: none;
  margin-right: 10px;
  padding: 0;
}

header ul a {
  text-decoration: none;
  color: var(--header-link-text-color);
}

.hero {
  background-color: var(--hero-footer-dark-color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
  padding: 20px;
}

.hero img {
  max-width: 50%;
  height: 100%;
  display: block;
  margin: 0;
  border-radius: 16px;
}

.hero .main-text {
  font-size: 32px;
  font-weight: bolder;
  color: var(--hero-main-text-color);
}

.hero .secondary-text {
  font-size: 18px;
  color: var(--hero-secondary-text-color);
  letter-spacing: 1.2px;
  line-height: 26px;
}

.hero .sign-up-button-hero {
  padding: 10px 25px;
  background-color: var(--cta-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 15px;
  font-weight: bold;
}

.hero .sign-up-button-hero a {
  text-decoration: none;
  color: #e5e7eb;
}

.info {
  background-color: #fefffd;
  padding: 30px;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 44px;
}

.info-one,
.info-two,
.info-three,
.info-four {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.info-text {
  text-align: center;
  margin-top: 10px;
}

.info h2 {
  font-size: 36px;
  font-weight: bolder;
  color: var(--info-header-text-color);
  text-align: center;
  margin-bottom: 24px;
}

.info img {
  width: 100px;
  height: 100px;
  border-radius: 16px;
}

.quote {
  background-color: var(--quote-section-bg);
  padding: 65px;
  text-align: center;
}

.quote .quote-text {
  font-size: 36px;
  color: var(--quote-text);
  font-style: italic;
}

.quote .author {
  text-align: right;
  margin-top: 24px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cta-color);
  padding: 45px;
  text-align: center;
  color: var(--hero-main-text-color);
}

.cta .cta-left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.cta .sign-up-button-cta {
  padding: 10px 25px;
  background-color: var(--cta-color);
  border-radius: 5px;
  border: 2px solid #fff;
  cursor: pointer;
  font-weight: bold;
}

.cta .sign-up-button-cta a {
  text-decoration: none;
  color: #f9faf8;
}

.hero .sign-up-button-hero:hover {
  background-color: #2662c2;
  transition: all 0.5s ease;
}

.cta .sign-up-button-cta:hover {
  background-color: #2662c2;
  transition: all 0.5s ease;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #f9faf8;
  background-color: var(--hero-footer-dark-color);
  padding: 24px;
}

.footer img {
  width: 24px;
  height: 100%;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
